
name: test-coverage

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  test-coverage:
    uses: pdil/usmapdata/.github/workflows/test-coverage.yaml@master
    secrets: inherit
